<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-logo">
        <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
        <h1>Healthy Life</h1>
        <nav class="word-menu">
          <a href="/mypage/logout" method="GET">로그아웃</a>
        </nav>
      </div>
    </div>
  </header>
  <div class="menu">
    <ul class="show-menu">
      <li class="first-menu">
        <a href="" class="active" method="GET">기록하기</a>
      </li>
      <li class="last-menu"><a href="">통계</a>
        <ul class="dropdown-menu">
          <li><a href="/mypage/weight" method="GET">체중</a></li>
          <li><a href="/mypage/clalorie">칼로리</a></li>
          <li><a href="/mypage/water">음수량</a></li>
          <li><a href="">걸음수</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="recorder">
    <ul class="inner">
      <li class="left-content">
        <ul class="title">
          <li>
            <h3>오늘 하루 식단을 입력해주세요</h3>
          </li>
          <li><img src="../images/eat.jpg" alt="weight" class="eating"></li>
        </ul>
        <ul class="eat">
          <li>
            <h3>Breakfast</h3><img src="../images/sun.png" alt="sun" class="sun"><br>
            <div class="dropdown">
              <h5>종류를 입력한 뒤 옆에서 선택해주세요.</h5>
              <form action="/mypage/record" method="POST">
                <input type="text" class="eat-menu" placeholder="메뉴의 종류를 입력해주세요" id="foodName" name="foodName">
                <button type="submit" class="btn">검색</button>
              </form>
              <form action="/mypage/input" method="POST">
                <select name="selectedResult1">
                  <option value="">선택</option>
                  <% if (resultString) { %>
                    <% var keyword = '칼로리'; %>
                    <% var index = resultString.indexOf(keyword); %>
                    <% while (index !== -1) { %>
                      <% var beforeKeyword = resultString.substring(0, index).trim(); %>
                      <% if (beforeKeyword) { %>
                        <option value="<%= beforeKeyword %>"><%= beforeKeyword %></option>
                      <% } %>
                      <% var afterKeyword = resultString.substring(index + keyword.length).trim(); %>
                      <% var nextIndex = afterKeyword.indexOf(keyword); %>
                      <% var valueToAdd = (nextIndex !== -1) ? afterKeyword.substring(0, nextIndex).trim() : afterKeyword.trim(); %>
                      <% if (valueToAdd) { %>
                        <option value="<%= valueToAdd %>"><%= valueToAdd %></option>
                      <% } %>
                      <% resultString = (nextIndex !== -1) ? afterKeyword.substring(nextIndex + keyword.length).trim() : ''; %>
                      <% index = resultString.indexOf(keyword); %>
                    <% } %>
                  <% } %>
                </select>
                <div class="eat-btn">
                  <button type="button">추가</button>
                  <button type="submit" class="btn">제출</button>
                </div>
              </form>
            </div>
            <div class="input">
              <h5>찾는 음식이 없을 시 직접 메뉴의 이름과 칼로리를 입력해주세요.</h5>
              <form action="/mypage/input" method="POST">
                <input type="text" class="eat-menu" name="foodNm" placeholder="보기에 없는 메뉴를 입력해주세요">
                <input type="text" class="eat-menu" name="kcal1" placeholder="입력한 메뉴의 칼로리를 작성해주세요">
                <div class="eat-btn">
                  <button>추가</button>
                  <button type="submit" class="btn">제출</button>
                </div>
              </form>
            </div>
            <input type="file" class="fileupload">
          </li>

          <li>
            <h3>Lunch</h3><img src="../images/lunch.png" alt="lunch" class="lunch"><br>
            <div class="dropdown">
              <h5>종류를 입력한 뒤 옆에서 선택해주세요.</h5>
              <form action="/mypage/record" method="POST">
                <input type="text" class="eat-menu" placeholder="메뉴의 종류를 입력해주세요" id="foodName" name="foodName">
                <button type="submit" class="btn">검색</button>
              </form>
              <form action="/mypage/input" method="POST">
                <select name="selectedResult2">
                  <option value="">선택</option>
                  <% if (resultString2) { %>
                    <% var keyword = '칼로리'; %>
                    <% var index = resultString2.indexOf(keyword); %>
                    <% while (index !== -1) { %>
                      <% var beforeKeyword = resultString2.substring(0, index).trim(); %>
                      <% if (beforeKeyword) { %>
                        <option value="<%= beforeKeyword %>"><%= beforeKeyword %></option>
                      <% } %>
                      <% var afterKeyword = resultString2.substring(index + keyword.length).trim(); %>
                      <% var nextIndex = afterKeyword.indexOf(keyword); %>
                      <% var valueToAdd = (nextIndex !== -1) ? afterKeyword.substring(0, nextIndex).trim() : afterKeyword.trim(); %>
                      <% if (valueToAdd) { %>
                        <option value="<%= valueToAdd %>"><%= valueToAdd %></option>
                      <% } %>
                      <% resultString2 = (nextIndex !== -1) ? afterKeyword.substring(nextIndex + keyword.length).trim() : ''; %>
                      <% index = resultString2.indexOf(keyword); %>
                    <% } %>
                  <% } %>
                </select>
                <div class="eat-btn">
                  <button type="button">추가</button>
                  <button type="submit" class="btn">제출</button>
                </div>
              </form>
            </div>
            <div class="input">
              <h5>찾는 음식이 없을 시 직접 메뉴의 이름과 칼로리를 입력해주세요.</h5>
              <form action="/mypage/input" method="POST">
                <input type="text" class="eat-menu" name="foodNm" placeholder="보기에 없는 메뉴를 입력해주세요">
                <input type="text" class="eat-menu" name="kcal2" placeholder="입력한 메뉴의 칼로리를 작성해주세요">
                <div class="eat-btn">
                  <button>추가</button>
                  <button type="submit" class="btn">제출</button>
                </div>
              </form>
            </div>
            <input type="file" class="fileupload">
          </li>

          <li>
            <h3>Dinner</h3><img src="../images/dinner.png" alt="dinner" class="dinner"><br>
            <div class="dropdown">
              <h5>종류를 입력한 뒤 옆에서 선택해주세요.</h5>
             <form action="/mypage/record" method="POST">
                <input type="text" class="eat-menu" placeholder="메뉴의 종류를 입력해주세요" id="foodName" name="foodName">
                <button type="submit" class="btn">검색</button>
              </form>
              <form action="/mypage/input" method="POST">
                <select name="selectedResult3">
                  <option value="">선택</option>
                  <% if (resultString3) { %>
                    <% var keyword = '칼로리'; %>
                    <% var index = resultString3.indexOf(keyword); %>
                    <% while (index !== -1) { %>
                      <% var beforeKeyword = resultString3.substring(0, index).trim(); %>
                      <% if (beforeKeyword) { %>
                        <option value="<%= beforeKeyword %>"><%= beforeKeyword %></option>
                      <% } %>
                      <% var afterKeyword = resultString3.substring(index + keyword.length).trim(); %>
                      <% var nextIndex = afterKeyword.indexOf(keyword); %>
                      <% var valueToAdd = (nextIndex !== -1) ? afterKeyword.substring(0, nextIndex).trim() : afterKeyword.trim(); %>
                      <% if (valueToAdd) { %>
                        <option value="<%= valueToAdd %>"><%= valueToAdd %></option>
                      <% } %>
                      <% resultString3 = (nextIndex !== -1) ? afterKeyword.substring(nextIndex + keyword.length).trim() : ''; %>
                      <% index = resultString3.indexOf(keyword); %>
                    <% } %>
                  <% } %>
                </select>
                <div class="eat-btn">
                  <button type="button">추가</button>
                  <button type="submit" class="btn">제출</button>
                </div>
              </form>
            </div>
            <div class="input">
              <h5>찾는 음식이 없을 시 직접 메뉴의 이름과 칼로리를 입력해주세요.</h5>
              <form action="/mypage/input" method="POST">
                <input type="text" class="eat-menu" name="foodNm" placeholder="보기에 없는 메뉴를 입력해주세요">
                <input type="text" class="eat-menu" name="kcal3" placeholder="입력한 메뉴의 칼로리를 작성해주세요">
                <div class="eat-btn">
                  <button>추가</button>
                  <button type="submit" class="btn">제출</button>
                </div>
              </form>
            </div>
            <input type="file" class="fileupload">
          </li>
        </ul>
      </li>

      <ul class="right">
        <h3>오늘 체중과 신장을 입력해주세요</h3>
        <li class="right-content">
          <ul class="weight">
            <li><img src="../images/weight.jpg" alt="weight" class="kg"></li>
            <li><img src="../images/tall.jpeg" alt="tall" class="cm"></li>
          </ul>
        <form  action="/mypage/input" method="POST">
          <input type="text" name="Weight" placeholder="00kg" class="input-weight">
          <input type="text" name="Tall" placeholder="000cm" class="input-tall"><button class="right-btn">제출</button>
        </form>
        </li>
        <h3>오늘 음수량을 입력해주세요</h3>
        <li class="right-content">
          <div class="water">
            <img class="water1" src="../images/empty-water.png" alt="empty-water">
            <img class="water2" src="../images/empty-water.png" alt="empty-water">
            <img class="water3" src="../images/empty-water.png" alt="empty-water">
            <img class="water4" src="../images/empty-water.png" alt="empty-water">
            <p>500ml당 물 한 방울이 채워져요!</p>
            <form action="/mypage/input" method="POST">
            <input type="text" class="inputValue" name="drnkAmnt"  placeholder="ml단위로 입력해주세요">&nbsp;<button>제출</button></form>
          </div>
        </li>
        <h3>오늘 걸음수를 입력해주세요</h3>
        <li class="right-content">
          <div class="walk">
            <img src="../images/walking.gif" alt="walking">
            <form action="/mypage/input" method="POST">
            <input type="text" name="stepCnt" placeholder="걸음수를 입력해주세요">&nbsp;<button>제출</button></form>
          </div>
        </li>
      </ul>
    </ul>
  </section>
  <footer>
    <div class="bar"></div>
    <div class="container">
      <h4 class="logo">
        Healthy Life
        <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
      </h4>
      <ul>개발자:&nbsp;
        <li>임채영</li>
        <li>김하예진</li>
        <li>박지은</li>
        <li>이상은</li>
      </ul>
      <ul>
        <li>chae0_0102@naver.com</li>
        <li>bhyj8903@naver.com</li>
        <li>bagj1975@gmail.com</li>
        <li>0204tkddms@naver.com</li>
      </ul>
      <h4 class="address">주소: 부산광역시 부산진구 엄광로 176</h4>
      <h4 class="comment">당신의 건강한 생활을 Healthy Life가 응원합니다</h4>
    </div>
  </footer>
</body>
<script>
  //물 채우기
  $('.inputValue').on('input', function () {
    var inputValue = parseInt($(this).val(), 10);

    $('.water img').attr('src', '../images/empty-water.png');

    if (inputValue >= 500) {
      $('.water1').attr('src', '../images/water.png');
    }
    if (inputValue >= 1000) {
      $('.water2').attr('src', '../images/water.png');
    }
    if (inputValue >= 1500) {
      $('.water3').attr('src', '../images/water.png');
    }
    if (inputValue >= 2000) {
      $('.water4').attr('src', '../images/water.png');
    }
  });
</script>

</html>