<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <script src="/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-logo">
        <a href="/main">
          <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
        </a>
        <a href="/main">
        <h1>Healthly Life</h1>
        </a>
        <nav class="word-menu">
          <a href="/auth/logout" method="get">로그아웃</a>
        </nav>
      </div>
    </div>
  </header>
  <div class="menu">
    <ul class="show-menu">
      <li class="first-menu">
        <a href="/mypage/record">기록하기</a>
      </li>
      <li class="last-menu"><a href="">통계</a>
        <ul class="dropdown-menu">
          <li><a href="/mypage/weight">체중</a></li>
          <li><a href="/mypage/clalorie">칼로리</a></li>
          <li><a href="" class="active">음수량</a></li>
          <li><a href="/mypage/walk">걸음수</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="chart">
    <div class="inner">
      <h1><%= doDttm %></h1>
      <ul class="content">
        <li class="explain">
          <h3>하루필요 음수량 알아보기</h3>
          <p>
            몸에서 일어나는 물의 작용을 구체적으로 나열해 봅니다.<br>
            체온 조절, 혈압 유지, 노폐물 제거, 산소 운반, 영양소 운반, 면역물질 운반 및 분비, 세포간 정보 전달, 노화 방지, 피부 탄력 유지, 변비 예방 등등 인체의 거의 모든 작동에 수분이
            역할을 합니다.<br>
            세계보건기구(WHO)가 권장하는 하루 물 섭취량은 1.5~2L입니다. 200mL가 들어가는 일반적인 컵으로 약 8~10잔 정도입니다. <br>
            또 전문가들은 키와 몸무게를 더하고, 100으로 나눈 값이 개인이 마셔야하는 적정한 물의 양이라고도 합니다. 물론 전문가들은 물을 많이 마신다고 무조건 좋은 것은 아니다고 합니다. <br>
            너무 많이 마시면 부족한 것만큼이나 해롭다는 것이죠. 물을 너무 많이 마시면 저나트륨혈증에 빠질 수 있고, 종아리나 눈 아래, 손 등이 붓는 현상이 나타난다고 합니다.<br>
          </p><br>
          <div class="showcalc">
            <h5>물도 하루 권장량이 있다는 사실을 알고계신가요?</h5>
            <ul>
              <li class="input">
                <h4>세계보건기구(WHO)</h4>
                <h5>하루 물 섭취 권장량</h5>
                <img src="../images/who.png" alt="who">
              </li>
              <li class="result">
                <h4>자신에게 맞는</h4>
                <h5>하루 물 섭취 권장량</h5>
                <div class="data">
                  <h1><%= formula %></h1>
                  <h1>=&nbsp;<span><%= recmDrinkAmnt%>L</span></h1>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="week-chart">
          <h3>일주일 간 섭취한 음수량의 변화</h3>
          <canvas class="weekly" width="800" height="450"></canvas>
        </li>
        <li class="month-chart">
          <h3>한 달 간 섭취한 음수량의 변화</h3>
          <canvas class="monthly" width="800" height="450"></canvas>
        </li>
        <li class="year-chart">
          <h3>일년 간 섭취한 음수량의 변화</h3>
          <canvas class="yearly" width="800" height="450"></canvas>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="bar"></div>
    <div class="container">
      <h4 class="logo">
        Healthy Life
        <img src="../images/health-logo.png" alt="logo-name" class="logo-name">
      </h4>
      <ul>개발자:&nbsp;
        <li>임채영</li>
        <li>김하예진</li>
        <li>박지은</li>
        <li>이상은</li>
      </ul>
      <ul>
        <li>chae0_0102@naver.com</li>
        <li>bhyj8903@naver.com</li>
        <li>bagj1975@gmail.com</li>
        <li>0204tkddms@naver.com</li>
      </ul>
      <h4 class="address">주소: 부산광역시 부산진구 엄광로 176</h4>
      <h4 class="comment">당신의 건강한 생활을 Healthy Life가 응원합니다</h4>
    </div>
  </footer>
</body>
<script>
  var data = [<%= drnkAmnt %>];
    var labels = [<% for (var i = 0; i < doDate.length+1; i++) { %>'<%= doDate[i] %>',<% } %>];
    labels.pop();
   const chartData = {
     labels: labels,
     datasets: [{
       data: data,
       borderColor: "#6ed5e9",
       label: '나의 체중',
       tension: 0,
       fill: false
     }]
   };
   // 차트 생성
   new Chart(document.getElementsByClassName("weekly"), {
     type: 'line',
     data: chartData
 });
 var data = [<%= drnkAmnt2 %>];
    var labels = [<% for (var i = 0; i < doDate2.length+1; i++) { %>'<%= doDate2[i] %>',<% } %>];
    labels.pop();
   const chartData2 = {
     labels: labels,
     datasets: [{
       data: data,
       borderColor: "#6ed5e9",
       label: '나의 체중',
       tension: 0,
       fill: false
     }]
   };
   new Chart(document.getElementsByClassName("monthly"), {
     type: 'line',
     data: chartData2
 });
 var data = [<%= drnkAmnt3 %>];
 var labels = [<% for (var i = 0; i < doDate3.length+1; i++) { %>'<%= doDate3[i] %>',<% } %>];
  labels.pop();
   const chartData3 = {
     labels: labels,
     datasets: [{
       data: data,
       borderColor: "#6ed5e9",
       label: '나의 체중',
       tension: 0,
       fill: false
     }]
   };
   new Chart(document.getElementsByClassName("yearly"), {
     type: 'line',
     data: chartData3
 });
</script>

</html>